#игнорирование папок
Readme.md
#игнорирование файлов с определенным расширением
*.txt
#игнорирование файлов с определенным расширением в папке
/log/*.txt
#игнорирование всех файлов с  расширением, но с исключением
*.log
!important.log
