body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer {
    background-color: #ad9797;
    color: rgb(245, 239, 239);
    text-align: center;
    padding: 10px 0;
}

main {
    padding: 30px;
    text-align: center;
    color: #b6a3a3;
}

p {
    font-size: 20px;
}
